In [1]:
# Import libraries
import pandas as pd
import numpy as np
import seaborn as sns

**Hypotesis testing for population mean**

**1. t-test for single population mean**

e.g. tinggi badan pria di Jakarta dengan rentang usia 25-30 tahun. Tinggi rata-rata = 175 cm.

- H0: mu_0 = 175
- Ha: mu_0 != 175 (two-tailed test/two-sided test)<br><br>
      mu_0 < 175 (one-tailed test/one-sided test)<br><br>
      mu_0 > 175 (one-tailed test/one-sided test)

Confidence interval --> default two-tailed test --> alpha/2

Kriteria pengambilan keputusan:
- Reject H0 --> p-value < alpha
- Failed to reject H0 --> p-value > 5

Confidence level = 95% (Harus ditentukan terlebih dahulu sebelum melakukan hypotesis testing).
alpha = 0.05 (two-tailed test)

e.g. p-value = 0.03

Keputusan: p-value < alpha 
            Dengan kata lain, kita reject H0. Itu berarti tinggi badan rata-rata pria di Jakarta dengan rentang usia 25-30 tahun bukanlah 175 cm.


***Notes***
- Menghitung nilai test statistic dan p-value itu seperti mengumpulkan evidence agar bisa reject H0.
- Semakin kecil p-value, semakin besar probability untuk bisa reject H0.

In [2]:
df = sns.load_dataset('mpg')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [20]:
df.groupby(['origin']).mean()['weight']

origin
europe    2423.300000
japan     2221.227848
usa       3361.931727
Name: weight, dtype: float64

In [3]:
from scipy.stats import ttest_1samp

In [4]:
df['acceleration'].mean()

15.568090452261291

In [ ]:
# H0: mu_0 = 16
# Ha: mu_0 != 16

mu_0 = 16
alpha = 0.05
tset, pval = ttest_1samp(df['acceleration'], 16, alternative='less')
print(tset)
print(pval)

In [8]:
if pval < alpha:
    print(f'Reject H0, {pval} < {alpha}')
else:
    print(f'Failed to reject H0, {pval} != {alpha}')

Reject H0, 0.0019114768698293893 < 0.05

**2. t-test independence double population mean**

Digunakan untuk menguji apakah ada perbedaan signifikan antara 2 populasi berbeda.

Contoh: inequal variance

- H0: mu_1 = mu_2 --> laki-laki dan perempuan memiliki rata-rata tinggi yang sama --> mu_1 - mu_2 = 0
- Ha: mu_1 > mu_2 --> rata-rata tinggi badan laki-laki lebih besar dari perempuan --> mu_1 - mu_2 > 0

In [ ]:
from scipy.stats import ttest_ind

In [15]:
df['acceleration'].var()

7.604848233611381

**3. t-test paired**

Dilakukan untuk menguji hipotesis pada sample populasi yang sama setelah diberikan suatu treatment dalam interval waktu tertentu.

Contoh:

- Obat untuk orang yang memiliki riwayat penyakit jantung --> apakah obat tersebut bisa mengurangi risiko terjadinya serangan jantung?

Untuk t-test paired, data diambil dari orang yang sama sebelum dan sesudah treatment.

mu_1 = sebelum minum obat
mu_2 = setelah minum obat

Dugaan awal: mu_1 < mu_2 --> setelah minum obat, frekuensi terkena serangan jantung menjadi lebih sedikit.

Kriteria pengambilan keputusan:

confidence level = 95%
alpha = 0.05

H0: mu_1 = mu_2 --> mu_1 - mu_2 = 0
Ha: mu_1 < mu_2 --> mu_1 - mu_2 < 0

- Reject H0 jika p-value < alpha.
- Failed to reject H0 jika p-value > alpha.

In [16]:
# Alternatif library untuk t-test paired
from scipy.stats import ttest_rel

In [ ]:
# Contoh kode untuk t-test paired
test, pval = ttest_rel(mu_1, mu_2, 0, alternative = 'less')
print(test)
print(pval)

**Anova F-test one-way**

- Untuk 1 independen variabel.
- Digunakan untuk menguji jumlah populasi > 2.
- Hanya bisa mengambil simpulan bahwa at least ada atau tidak ada perbedaan signifikan antara 1 pasang grup (minimal 2 grup). Kita tidak tahu grup mana yang berbeda signifikan tersebut.
- Untuk dapat mengetahuinya, kita dapat melakukan tes lanjutan, yang bernama post-hoc test.

In [17]:
from scipy.stats import f_oneway