`April 19, 2022`

### **Data Analysis and Modeling Exercise**

Just do a comprehensive analysis of this dataset. You can do any modeling if necessary.

#### **About Dataset**

`Context`

There are a lot of unknowns when running an E-commerce store, even when you have analytics to guide your decisions.

Users are an important factor in an e-commerce business.
This is especially true in a C2C-oriented store, since they are both the suppliers (by uploading their products) AND the customers (by purchasing other user's articles).

This dataset aims to serve as a benchmark for an e-commerce fashion store. Using this dataset, you may want to try and understand what you can expect of your users and determine in advance how your grows may be.

For instance, if you see that most of your users are not very active, you may look into this dataset to compare your store's performance.

This dataset is part of a preview of a much larger dataset.

`Content`

What is inside is more than just rows and columns. Make it easy for others to get started by describing how you acquired the data and what time period it represents, too.

The data was scraped from a successful online C2C fashion store with over 9M registered users. The store was first launched in Europe around 2009 then expanded worldwide.

Visitors vs Users:

Visitors do not appear in this dataset. Only registered users are included. "Visitors" cannot purchase an article but can view the catalog.

<hr>

In [2]:
import pandas as pd

df = pd.read_csv('ecommerce_fashion_store.csv')
df.head()

,identifierHash,type,country,language,socialNbFollowers,socialNbFollows,socialProductsLiked,productsListed,productsSold,productsPassRate,...,civilityTitle,hasAnyApp,hasAndroidApp,hasIosApp,hasProfilePicture,daysSinceLastLogin,seniority,seniorityAsMonths,seniorityAsYears,countryCode
0,-1097895247965112460,user,Royaume-Uni,en,147,10,77,26,174,74.0,...,mr,True,False,True,True,11,3196,106.53,8.88,gb
1,2347567364561867620,user,Monaco,en,167,8,2,19,170,99.0,...,mrs,True,False,True,True,12,3204,106.80,8.90,mc
2,6870940546848049750,user,France,fr,137,13,60,33,163,94.0,...,mrs,True,False,True,False,11,3203,106.77,8.90,fr
3,-4640272621319568052,user,Etats-Unis,en,131,10,14,122,152,92.0,...,mrs,True,False,True,False,12,3198,106.60,8.88,us
4,-5175830994878542658,user,Etats-Unis,en,167,8,0,25,125,100.0,...,mrs,False,False,False,True,22,2854,95.13,7.93,us

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98913 entries, 0 to 98912
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   identifierHash       98913 non-null  int64
 1   type                 98913 non-null  object
 2   country              98913 non-null  object
 3   language             98913 non-null  object
 4   socialNbFollowers    98913 non-null  int64
 5   socialNbFollows      98913 non-null  int64
 6   socialProductsLiked  98913 non-null  int64
 7   productsListed       98913 non-null  int64
 8   productsSold         98913 non-null  int64
 9   productsPassRate     98913 non-null  float64
 10  productsWished       98913 non-null  int64
 11  productsBought       98913 non-null  int64
 12  gender               98913 non-null  object
 13  civilityGenderId     98913 non-null  int64
 14  civilityTitle        98913 non-null  object
 15  hasAnyApp            98913 non-null  bool
 16  hasAndroidApp        98913 non-null  bool
 17  hasIosApp            98913 non-null  bool
 18  hasProfilePicture    98913 non-null  bool
 19  daysSinceLastLogin   98913 non-null  int64
 20  seniority            98913 non-null  int64
 21  seniorityAsMonths    98913 non-null  float64
 22  seniorityAsYears     98913 non-null  float64
 23  countryCode          98913 non-null  object
dtypes: bool(4), float64(3), int64(11), object(6)
memory usage: 15.5+ MB